* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/************ Navbar ************/
.navbar {
  padding: 0.5rem 2rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.navbar .navLogo {
  font-size: 1.8rem;
  font-family: "Abril Fatface", cursive;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  font-weight: 100;
}

.navbar .navMenu ul li {
  list-style: none;
  margin-left: 1.8rem;
}

.navbar .navMenu ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

.navbar .navMenu ul li .nav-active {
  color: #c2a788;
}

.nav-scroll {
  background-color: #504538;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.nav-default {
  background-color: #504538;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.toggle-btn {
  display: none;
  color: #f8f6f4;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (max-width: 892px) {
  .scroll-down {
    display: none;
  }
  .navbar {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .navLogo {
    padding-left: 1.5rem;
    padding-top: 0.2rem;
  }
  .navbar .navMenu ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #504538;
    border-bottom: 0.8px solid lightgray;
    -webkit-transition: 5s;
    transition: 5s;
  }
  .navbar .navMenu ul li {
    width: 100vw;
    text-align: center;
    background-color: #504538;
    margin-left: 0;
  }
  .navbar .navMenu ul li a {
    width: 100vw;
  }
  .navbar .toggle-btn {
    display: block;
    padding-top: 0.2rem;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navbar .toggle-btn:hover {
    cursor: pointer;
    color: #c2a788;
  }
  .navMenu ul.toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
  }
  .navMenu ul.toggle li {
    padding: 0.5rem 0;
  }
  .navMenu ul.toggle li a {
    color: #f8f6f4;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: 500;
  }
  .navMenu ul.toggle li a:hover {
    color: #c2a788;
  }
  .navMenu ul.toggle li a:active {
    text-shadow: 1px 1px 2px white;
  }
  .navMenu ul.toggle li a::after {
    display: none;
  }
}

/*********** Header **********/
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 100vh;
  padding: 2rem 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  font-size: 5rem;
  font-weight: 600;
  color: #f8f6f4;
  background-image: url("../img/bg.jpeg");
  z-index: 99;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.664);
  text-align: left;
  font-family: "Abril Fatface", cursive;
}

.header .header-text {
  text-align: left;
  padding: 3rem 4rem;
  -webkit-animation: show 5s;
          animation: show 5s;
  letter-spacing: 0.5rem;
  line-height: 1.5;
}

.header .header-text .span {
  font-size: 3.5rem;
  color: #c2a788;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.scroll-down {
  color: rgba(255, 255, 255, 0.33);
  position: absolute;
  right: 50%;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: down 1s infinite;
          animation: down 1s infinite;
  font-size: 4.5rem;
}

.scroll-down:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.507);
}

@media screen and (max-width: 768px) {
  .header {
    display: -ms-grid;
    display: grid;
    place-items: center;
    background-image: url("../img/bg.jpeg");
    background-size: 100%;
    height: 100%;
  }
  .header .header-text {
    text-align: center;
    font-size: 3rem;
    padding: 2rem 4rem;
    letter-spacing: 0.2rem;
    line-height: 1;
  }
  .header .header-text .span {
    font-size: 2.5rem;
    color: #c2a788;
  }
}

/********** index-bio ********/
.index-bio {
  background-color: #f8f6f4;
  padding: 8rem 5rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  line-height: 2;
  color: #c2a788;
  font-style: italic;
}

/********** index-photo ********/
.index-photo {
  background-color: #c2a788;
  padding: 8rem 3rem;
}

.index-photo .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.index-photo .photos .image {
  overflow: hidden;
}

.index-photo .photos .image img {
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.index-photo .photos .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.index-photo .btn {
  padding: 2rem;
  text-align: center;
}

.index-photo a {
  text-decoration: none;
  color: #f8f6f4;
  border: 3px solid #f8f6f4;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.index-photo a:hover {
  background-color: #f8f6f4;
  border: 3px solid #f8f6f4;
  color: #c2a788;
}

.titles {
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #f8f6f4;
  font-weight: 600;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

/********** index-event ********/
.index-event {
  padding: 8rem 3rem;
}

.index-event .eventlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.index-event .eventlist .event {
  border: 1px solid #b89e8196;
  padding: 2.5rem 2rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.index-event .eventlist .event:hover {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.index-event .eventlist .event div {
  font-family: "Noto Sans", sans-serif;
  margin-top: 1.3rem;
  color: #504538;
}

.index-event .eventlist img {
  width: 90%;
  height: 70%;
  opacity: 0.8;
}

.index-event .btn {
  padding: 2rem;
  text-align: center;
}

.index-event a {
  text-decoration: none;
  color: #c2a788;
  border: 3px solid #c2a788;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.index-event a:hover {
  background-color: #c2a788;
  border: 3px solid #c2a788;
  color: #f8f6f4;
}

/*********** index contact ************/
.index-contact {
  background-color: #f8f6f4;
  padding: 8rem 3rem;
  font-family: "Noto Sans", sans-serif;
}

.index-contact .contactform {
  text-align: center;
}

.index-contact .contactform form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.index-contact .contactform form input, .index-contact .contactform form textarea {
  width: 440px;
  margin-top: 1rem;
  border: none;
  background-color: #504538;
  padding: 1rem 1.3rem;
  color: white;
}

.index-contact .contactform form input::-webkit-input-placeholder, .index-contact .contactform form textarea::-webkit-input-placeholder {
  color: #f8f6f4;
  font-family: "Noto Sans", sans-serif;
}

.index-contact .contactform form input:-ms-input-placeholder, .index-contact .contactform form textarea:-ms-input-placeholder {
  color: #f8f6f4;
  font-family: "Noto Sans", sans-serif;
}

.index-contact .contactform form input::-ms-input-placeholder, .index-contact .contactform form textarea::-ms-input-placeholder {
  color: #f8f6f4;
  font-family: "Noto Sans", sans-serif;
}

.index-contact .contactform form input::placeholder, .index-contact .contactform form textarea::placeholder {
  color: #f8f6f4;
  font-family: "Noto Sans", sans-serif;
}

.index-contact .contactform form textarea {
  height: 100px;
}

.index-contact .contactform form button {
  margin-top: 1.5rem;
  color: #504538;
  border: 3px solid #504538;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: transparent;
}

.index-contact .contactform form button:hover {
  background-color: #504538;
  border: 3px solid #504538;
  color: #f8f6f4;
  cursor: pointer;
}

/*********** Bio ************/
.bio {
  background-color: #f8f6f4;
  width: 100%;
  padding: 8rem 6rem 5rem 6rem;
}

.bio .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.bio .picture {
  padding: 5%;
}

.bio .picture img {
  width: 100%;
  -webkit-box-shadow: 10px 10px 0 #504538b2;
          box-shadow: 10px 10px 0 #504538b2;
}

.bio .text {
  padding: 6% 8%;
  font-family: "Noto Sans", sans-serif;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}

/*********** Photo ************/
.main {
  background-color: #f8f6f4;
  padding: 8rem 6rem 5rem 6rem;
}

.main .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.main .photos .image {
  overflow: hidden;
}

.main .photos .image img {
  max-width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.main .photos .image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*********** events ************/
.title {
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #c2a788;
  font-weight: 600;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.events {
  background-color: #f8f6f4;
  padding: 8rem 2rem 5rem 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Noto Sans", sans-serif;
}

.events div.tb {
  font-size: 1.1rem;
}

.events div.tb table,
.events div.tb tr,
.events div.tb td {
  border-collapse: collapse;
}

.events div.tb td {
  padding: 1.5rem 2.4rem 1rem 2.4rem;
  border-bottom: 2px solid #504538;
}

/*********** Footer **********/
.footer {
  background-color: #504538;
  margin: auto;
  padding: 3rem 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer .sns {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.footer .sns a {
  color: #c2a788;
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .sns a:hover {
  color: #cdffeb;
}

.footer .rights {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 3rem 10%;
  }
}

.nav-scroll .navMenu ul li a.clicked {
  color: #c2a788;
}

@media screen and (max-width: 600px) {
  .index-contact .contactform form {
    padding: 0;
  }
  .index-contact .contactform form input, .index-contact .contactform form textarea {
    width: 90%;
  }
  .main {
    padding: 8rem 5% 5rem 5%;
  }
  .events {
    padding: 8rem 5% 5rem 5%;
  }
  .events div.tb {
    font-size: 1rem;
  }
  .events div.tb table,
  .events div.tb tr,
  .events div.tb td {
    border-collapse: collapse;
  }
  .events div.tb td {
    padding: 0.5rem;
  }
  .index-event .eventlist {
    padding: 0 3%;
  }
  .index-event .eventlist .event {
    padding: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */